# Dependencias
node_modules/
backend/node_modules/
frontend/node_modules/

# Variables de entorno
.env
.env.local
.env.production
backend/.env
frontend/.env
frontend/.env.local

# Builds
dist/
build/
.next/
frontend/.next/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.zip
*.rar